@import "tailwindcss";

@theme {
  --color-primary: #8df27e;
  --color-secondary: #f2e77e;
  --color-tertiary: #f54033;

  --color-dark: #000000;
  --color-white: #FFFFFF;

  --font-sans: "Clash Grotesk", sans-serif;
  --font-mono: "Geist Mono", monospace;
}