@import "tailwindcss";

@theme {
  --color-primary: #8df27e;
  --color-secondary: #f2e77e;
  --color-tertiary: #f54033;

  --color-dark: #000000;
  --color-white: #FFFFFF;
  --color-green: #32754C;
  --color-grey: #a8a088;

  --font-sans: "Clash Grotesk", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --aspect-card: 9 / 14;
  --aspect-hero: 16 / 9;
}

@utility my-section {
  margin-top: calc(var(--spacing) * 42);
  margin-bottom: calc(var(--spacing) * 42);
}